.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.pytest_cache/
build/
dist/
*.egg-info/
install/
pip-wheel-metadata/
.mypy_cache/
.vscode/
.idea/
output/
instalador_generado/
ZetaOne.spec.bak
*.log
*.sqlite3
env.bak/
.env
*.pyc
__pycache__/
.cache/
Thumbs.db# Python cache y archivos temporales
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
.env
.venv/
env/
venv/

# Archivos de usuario
Favoritos.json

# Ignora todo lo de la carpeta json, excepto los archivos base
json/*
!json/catalogo_migracion.json
!json/usuarios.json
!json/ambientes.json
!json/ambientesrelacionados.json
!json/clave.key

# Otras excepciones específicas (si lo deseas)
json/HistorialConsultas.json

encriptaciones

dist
build
 
# Auditoría: evitar subir archivos generados de migraciones
output/migration_rejects/