# Ignora carpetas de pycache y archivos compilados de Python
__pycache__
*.pyc
*.pyo

# Entornos virtuales
.env
.venv/
env/
venv/

#archivos de usuario/temporales
Favoritos.json

json/*

#archivos que no se ignoran:
!json/catalogo_migracion
!json/usuarios
!json/ambientes


json/ambientesrelacionados.json

#historial de usuario
json/HistorialConsultas.json