# Python cache y archivos temporales
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
.env
.venv/
env/
venv/

# Archivos de usuario
Favoritos.json

# Ignora todo lo de la carpeta json, excepto los archivos base
json/*
!json/catalogo_migracion.json
!json/usuarios.json
!json/ambientes.json

# Otras excepciones específicas (si lo deseas)
json/HistorialConsultas.json


